@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: helvetica,"pingFang SC","Microsoft Yahei",sans-serif;
    font-size: 14px;
}  
body{
    background-color: #FFFFFF;
}

.router-link-active{
    font-weight: bold;
}
/* 公共宽度 */
.pubCon{
    max-width: 1200px;
    margin: auto;
}

/* 标题 */
.pubTit{
    padding-top: 80px;
    padding-bottom: 50px;
}
.pubTit h2{
    font-size: 24px;
    color: #333333;
    text-align: center; 
}
.pubTit h3{
    font-size: 14px;
    color: #AAAAAA;
    text-align: center;
    margin-top: 5px; 
    font-weight: 400;
}
.pubTit h3::after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color:#b09c70;
    margin: 20px auto;
}

/* 背景 */
.pubBg{
  width: 100%;
  background-color: #F5F5F5;
} 


/* 小于1100*/
@media (max-width: 1100px) { 
    .pubCon{
        max-width: 1100px; 
    } 
}

@media (max-width: 768px){
    .pubCon{
        max-width: 768px; 
    } 
    .pubTit{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .pubTit h2{
        font-size: 20px; 
    } 
} 
@media (max-width: 620px) {
    .pubCon{
        max-width: 620px; 
    }  
    .pubTit h2{
        font-size: 18px; 
    } 
}
